.admin-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.admin-login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.admin-login input {
  padding: 10px;
}

.admin-login button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}