.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fc;
}

.auth-card {
  width: 380px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
  animation: fadeIn 0.4s ease;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #2563eb;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

p {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.2s;
  background: #ffffff;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #2563eb;
  color: #333;
}
form input{
    margin-bottom: 12px;
}
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #1e4fd8;
}

.auth-link {
  margin-top: 15px;
  font-size: 14px;
}

.auth-link a {
  color: #2563eb;
  text-decoration: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}